/* begin GENERAL STYLING
--------------------------------------------------------*/

html{
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	width: 100vw;
	/* hacky hack, we gotta find the rogue div that creates the vertical scrollbar */
	overflow-x: hidden;
}

/* titles */
h1,h2,h3,h4,h5,h6{
	  font-family:"Garamond";
		text-align: center;
}

h1 {
	font-weight:bold;
	font-size: 9.375rem;
	line-height:90%;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-weight: bold;
   font-size: 5rem;
   color: #fff;
   margin: 0;
	 padding: 0;
}

h3 {
   font-weight: normal;
   font-size: 16px;
   margin: 5px 0;
	 padding: 0;
	 z-index: 1;
	 position: relative;
}


h4 {
   font-weight: bold;
   font-size: 5rem;
   color: #fff;
   background-color: #000;
   margin: 0;
	 padding: 50px 0 50px 0;
}

h5 {
  font-family: 'Garamond', serif;
  font-weight: normal;
  font-size: 1.875rem;
  text-align: left;
  padding: 0;
  margin: 0 0 100px 0;
  z-index: 1;
  position: relative;
}

@media (max-width: 600px){
		html{
			font-size: 14px;
		}

}

@media (max-width: 480px){

		html{
			font-size: 10px;
		}

}


.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 100vw;}
.content_juxtapose{ margin: 0 auto; width: 100vw;}

.counter_container{
	/* knock youself out :) */

}
.counter {
	/* knock youself out :) */
	font-size: 60px;
}
.clear { clear: both; }
a.lpanel,a.rpanel {
	float: left;
	color: #e1e1e1;
	font-size: 12px;
	font-family:"Garamond";
	text-decoration: none;
	margin: 7px 11px;
}

a.lpanel:hover,a.rpanel:hover{ color: #fff; }

/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header {

}

#nav {
	width: 400px;
	float: right;
	margin-top: 20px;
	box-sizing: border-box;
}
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

#nav li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}


@media (max-width: 480px){

		#nav{
			float: none;
			color : red;
		}

}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family:"Garamond"; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }



/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.copy {
  font-family: 'Garamond', serif;
  font-weight: normal;
  font-size: 1.875rem;
  text-align: left;
  margin: 50px auto;
}

.copy_meat {
  font-family: 'Garamond', serif;
  font-weight: normal;
  background-color: black;
  font-size: 1.875rem;
  text-align: left;
  margin: 50px auto;
  padding: 50px 50px 50px 50px;
}

 .counter {
 	width: 80vw;
 	font-size: 3rem;
 	margin: 0 auto; }

.map {
	font-family: 'Garamond', serif;
  font-weight: normal;
  font-size: 1.875rem;
  text-align: left;
}

 .copy_container { width: 50vw; margin: 0 auto; }

 .copy_container_right { width: 50vw; margin: 0 auto;}

 .juxtapose_container {width: 80vw; height: 100vh; margin: 0 auto;}

 .thinglink_container {width: 70vw; height: 80vh; margin: 0 auto;}

 .map_container { width: 100vw; height:100vh; margin: 0 auto; }

 .counter_container { width: 80vw; margin: 0 10vw 0 10vw; }



/*= BUTTONS
--------------------------------------------------------*/

button.btn-know {
	padding: 15px 47px;
	margin: 40px 38.8%;
	text-align: center;
	border: 4px solid #fff;
	color: #fff;
	background: transparent;
	font-size: 19px;
	cursor: pointer;
	text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-know:hover { background: #fff; color: transparent; }
ul.built { list-style: none; margin: 0 auto; width: 730px; }
.built li img{ float: left; padding-right: 34px; }



/*= SLIDES STYLING
--------------------------------------------------------*/

#slide1, #slide2{ width: 100%; }

#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#slide1{
	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 15vh 0 0px 0;
	background-size: cover;
}

#slide2{
	background-color: #fff;
	color: #333333;
	margin: 0 auto;
	height:100vh;
	width: 100vw;
	padding: 15vh 0 0px 0;
	box-sizing: border-box;
}

#slide3{
	background: url(../img/field.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	height: 100vh;
	width: 100vw;
	padding: 100px 0 0 0;
	background-size: cover;
	box-sizing: border-box;
}

#slide4{
	background-color: #fff;
	color: #333333;
	width: 100vw;
	padding: 100px 0 100px 0;
}

#slide5{
	background: url(../img/meat.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	background-size: cover;
	height:100vh;
	width: 100vw;
	padding: 100px 0 0px 0;
}

#slide6{
	background-color: #fff;
	color: #333333;
	margin: 0 auto;
	width: 100vw;
	overflow: hidden;
	padding: 100px 0 100px 0;
}

#slide7{
	width:100vw;
}

#slide8{
	background-color: #fff;
	color: #333333;
	height: 1000px;
	width: 100vw;
	padding: 50px 0 50px 0;
}

/* Slider */

/* Desperate to remove focus outline in firefox */
::-moz-focus-inner {
  outline:0;
}

:focus {
  outline:0;
}

.interactive-slider {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}

.interactive-slider {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
	width: 15rem;
  border-radius: 30px;
}

.interactive-slider::-moz-range-track {
  border-radius: 6px;
  border: 1px solid #a5a8a8;
  background: #d3d7d7;
  height: 1rem;
  border-radius: 30px;
}

/*
  Declarations get duplicated because an invalid selector
  invalidates the entire declaration block
*/

.interactive-slider::-webkit-slider-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px;
  /* Is base64 the way to go ? */
  /* I don't imagine simulating vertical stripes w/ gradients */ background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
  cursor: pointer;
  -webkit-appearance: none;
}


.interactive-slider::-moz-range-thumb {
  height: 3rem;
  width: 2rem;
  border: 1px solid rgba(0,0,0,0.36);
  border-radius: 6px; background:url("../img/slider-thumb-bar.svg") center center no-repeat #e5e9e8;
  background-size: 7px 18px;
  box-shadow: inset 0 1px white;
  cursor: pointer;
}

.range-vertical {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
	transform-origin: left top;
}

/*
  Active state
*/

.interactive-slider:active::-webkit-slider-thumb {
  border: 1px solid #0940fd;
  box-shadow: 0 0 0 2px #6fb5f1;
}

input[type=range]:active::-moz-range-thumb {
  border: 1px solid #0940fd;
  box-shadow: 0 0 0 2px #6fb5f1;
}
